@section scripts {

    <script src="~/Scripts/page.js"></script>

}


<br />
<div class="col-md-12">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Listado Solicitud", "Index", "SolicitudProgramacion")</li>
            <li>@Html.ActionLink("Registrar Solicitud", "Registrar", "SolicitudProgramacion")</li>

        </ul>
    </div>
    <div class="col-md-9 " style="border:0px solid #000;">
        <div><h3>Solicitud de Planificación</h3></div>
        <form action="/SolicitudProgramacion/Enviar" method="post" onsubmit="return validarform(); ">
            <div class="form-group">
                <label for="exampleInputPassword1">Cliente</label>
                <select id="cboclientes" name="cboclientes" class="form-control">
                    <option value="0">Seleccionar</option>
                    @foreach (var item in ViewData["Cliente"] as List<EntityLayer.Cliente>)
                    {

                        <option value="@item.codCliente">
                            @item.razonSocial
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de Servicio</label>
                <input id="datepicker" type="text" class="form-control" name="fechaservicio">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Tipo de Servicio</label>
                <select id="cbotiposervicio" name="cbotiposervicio" class="form-control">
                    <option value="0">Seleccionar</option>
                    <option value="1">GNC</option>
                    <option value="2">GLP</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Tipo de Viaje</label>
                <select id="cbotipoviaje" name="cbotipoviaje" class="form-control">
                    <option value="0">Seleccionar</option>
                    <option value="1">Viaje Local</option>
                    <option value="2">Viaje Provincial</option>
                </select>
            </div>
            <div class="form-group">
               
                <div><button id="agregar-iti" onclick="return false">Agregar Itinerario</button></div>

            </div>

            <h3>Lista de itinerarios</h3>
            <div id="listitinerario" class="form-group">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha Servicio</th>
                            <th>Punto Origen</th>
                            <th>Punto Destino</th>
                            <th>Tipo Acción</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                       
                            <tr>
                                <td scope="row" colspan="7">No hay itinerarios para mostrar</td>
                                
                            </tr>

                       
                    </tbody>
                    </table>
</div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-default">Enviar</button>
            </div>

        </form>
        <div id="dialog-form" style="">
            <form id="formitinerario" onsubmit="return validaritinerario()">
                <p>Agregar Itinerario</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fecha de Itinerario</label>
                    <input type="text" class="form-control" name="fechaservicio" id="datepickeriti">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hora de Salida</label>
                    <select name="horasalida" id="horasalida" class="form-control">
                        <option value="">Seleccionar</option>
                        <option value="0">12:00 am</option>
                        <option value="1">1:00 am</option>
                        <option value="2">2:00 am</option>
                        <option value="3">3:00 am</option>
                        <option value="4">4:00 am</option>
                        <option value="5">5:00 am</option>
                        <option value="6">6:00 am</option>
                        <option value="7">7:00 am</option>
                        <option value="8">8:00 am</option>
                        <option value="9">9:00 am</option>
                        <option value="10">10:00 am</option>
                        <option value="11">11:00 am</option>
                        <option value="12">12:00 pm</option>
                        <option value="13">1:00 pm</option>
                        <option value="14">2:00 pm</option>
                        <option value="15">3:00 pm</option>
                        <option value="16">4:00 pm</option>
                        <option value="17">5:00 pm</option>
                        <option value="18">6:00 pm</option>
                        <option value="19">7:00 pm</option>
                        <option value="20">8:00 pm</option>
                        <option value="21">9:00 pm</option>
                        <option value="22">10:00 pm</option>
                        <option value="23">11:00 pm</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Punto Origen</label>
                    <select name="origen" id="origen" class="form-control">
                        <option value="0">Seleccionar</option>
                        <option value="basepampilla">Base Pampilla</option>
                        <option value="localcliente">Local Cliente</option>
                        <option value="base">Base</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Punto Destino</label>
                    <select name="destino" id="destino" class="form-control">
                        <option value="0">Seleccionar</option>
                        <option value="basepampilla">Base Pampilla</option>
                        <option value="localcliente">Local Cliente</option>
                        <option value="base">Base</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tipo de Acciion</label>
                    <input type="radio" name="tipoaccion" id="tipoaccion" value="carga"/>Carga
                    <input type="radio" name="tipoaccion" id="tipoaccion" value="descarga"/>Descarga
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad</label>
                    <input type="text" class="form-control" name="cantidad" id="cantidad" >
                </div>
                <button id="agreite" type="submit" class="btn btn-default">Agregar</button>
                <button id="cancite" type="submit" class="btn btn-default">Cancelar</button>
            </form>
        </div>
        <div id="dialogitinerario" title="Mensaje">
            <p></p>
        </div>
        <div id="dialog" title="Mensaje">
            <p></p>
        </div>
        <div id="dialog-confirm" title="Empty the recycle bin?">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Confirmar el envio de la solicitud?</p>
        </div>
    </div>
</div>