
@{
    ViewBag.Title = "Index";
}




<br />
<div class="col-md-12">
    
    <div class="col-md-12 " style="border:0px solid #000;">

        <div><h3>Acceso al Sistema</h3></div>

        <div class="form-group">
            <div id="dialog-form" style="">
                <form id="formlogin" action="/CuentaUsuario/Login" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" class="form-control" name="nomusuario">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña</label>
                        <input type="password" class="form-control" name="contrausuario">
                    </div>
                   
                    <button id="agreite" type="submit" class="btn btn-default">Ingresar</button>
                </form>
            </div>
        </div>

    </div>
</div>

